<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>php-cgminer-monitor</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <br />
    <div class="container">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          {% for i in range(0, miners|length -1) %}
          <li role="presentation" class="{{ i == 0 ? 'active' : '' }}"><a href="#miner{{ i }}" aria-controls="miner{{ i }}" role="tab" data-toggle="tab">{{ miners[i] }}</a></li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for i in range(0, miners|length -1) %}
          <div role="tabpanel" class="tab-pane {{ i == 0 ? 'active' : '' }}" id="miner{{ i }}">{{ minerHtml[i] }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('form').submit(function(event) {
          var _self = $(this), data = _self.serializeArray();
          if (_self.find('input[name="cmd"]').val()=='poolquota')
            jQuery.each(data, function(i, _data) {
              if (_data.name=='pool') {
                jQuery.each(data, function(_i, __data) {if (_data==__data) delete data[_i];});
                $('form.poolquota input[name="pool"]').each(function(){
                  if ($(this).parents('form').find('input[name="tab"]').val()==_self.find('input[name="tab"]').val())
                    data.push({name:_data.name+'[]',value:$(this).val()});
                });
              }
              else if (_data.name=='quota') {
                jQuery.each(data, function(_i, __data) {if (_data==__data) delete data[_i];});
                $('form.poolquota input[name="quota"]').each(function(){
                  if ($(this).parents('form').find('input[name="tab"]').val()==_self.find('input[name="tab"]').val())
                  data.push({name:'quota[]',value:$(this).val()});
                });
              }
            });
          $.ajax({
              type     : 'POST',
              url      : '/index.php',
              data     : data,
              encode   : true
          }).done(function(data) {$('.container').prepend(data);});
          event.preventDefault();
        });
        {% if tab > 0 %}
          $('.nav li').eq({{tab}}).find('a').click();
        {% endif %}
    });
  </script>
  </body>
</html>
